{% extends "base.html" %}
{% block title %} — {% trans "Сеть открытых наземных исследовательских комплексов" %}{% endblock %}
{% block meta %}
<meta name="description"
  content="{% trans 'Проект «СОНИКС» представляет собой бесплатное программное обеспечение и аппаратную платформу с открытым исходным кодом, предназначенную для создания школьной сети спутниковых наземных станций по всей России для приема данных с космических аппаратов, их обработки и визуализации.' %}">
{% endblock meta %}
{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/mapbox-gl/dist/mapbox-gl.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/home.scss' %}">
{% endblock css %}

{% block body-class %}class="home"{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{%trans "Сеть открытых" %}<br>{% trans "наземных станций" %}</h1>
</section>
<section class="block-bigmap">
  <div id="map"
    class="back-map"
    data-mapboxtoken="{{ mapbox_token }}"
    data-stations="{% url 'base:stations_all' %}"></div>
  <div class="prev-shadow"></div>
  <div class="container description-map">
    <div class="description">
      <div>
        {% trans "Открытая сеть наземных станций" %}<br>{% trans "для приема сигналов" %}<br>{% trans "c космических аппаратов" %}
      </div>
      <div class="status">{% trans "активная" %} <span class="circle circle-blue"></span>
        <br>{% trans "в тестовом режиме" %} <span class="circle circle-orange"></span>
      </div>
    </div>
    <div class="gotocard"><a href="#"
        role="button"
        class="href-with-arrow">{% trans "Перейти на карту" %} <img src="/static/img/arrow-right.svg"
          alt=">"
          class="arrow-right"></a></div>
    <div class="gotoback d-none"><a href="#"
        role="button"
        class="href-with-arrow"><img src="/static/img/arrow-right.svg"
          alt="<"
          class="arrow-right arrow-back"></a></div>
  </div>
</section>
<section class="block-ournetwork">
  <div class="container">
    <div class="h2">{% trans "В нашей сети находятся" %}</div>
    <div class="row">
      <div class="card">
        <img src="/static/img/frontpage/ournetwork/card1.jpg"
          alt="">
        <div class="card-wrapper">
          <div class="count">{{ stations_count }}</div>
          <div class="description">
            <div class="floating_ending"
              data-count="{{ stations_count }}">{% trans "наземных станций" %}</div>
            <div><a href="{% url 'base:stations_list' %}"
                class="btn btn-link">{% trans "Показать все" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/static/img/frontpage/ournetwork/card2.jpg"
          alt="">
        <div class="card-wrapper">
          <div class="count">{{ satellites_count }}</div>
          <div class="description">
            <div class="floating_ending"
              data-count="{{ satellites_count }}">{% trans "спутников" %}</div>
            <div><a href="{% url 'base:satellites_list' %}"
                class="btn btn-link">{% trans "Показать все" %}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-ourmission">
  <div class="container">
    <div class="img-block"></div>
    <div class="text-block">
      <div class="h2">{% trans "Наша миссия" %}</div>
      <p class="subtitle">
        {% trans "Проект представляет собой бесплатное программное обеспечение и аппаратную платформу с открытым исходным кодом, предназначенную для создания школьной сети спутниковых наземных станций." %}
      </p>
      <p><a href="{% url 'base:about' %}"
          class="href-with-arrow">{% trans "Узнать больше" %}<img src="/static/img/arrow-right.svg"
            alt=">"
            class="arrow-right"></a></p>
      <ol>
        <li>{% trans "Создание открытого образовательного сервиса для работы с личной наземной радиостанцией" %}</li>
        <li>{% trans "Прием сигнала и данных с искусственных спутников Земли и их обработка" %}</li>
        <li>{% trans "Просвещение пользователей в связанных технических областях" %}</li>
      </ol>
    </div>
  </div>
</section>
<section class="block-yourfirstantenna">
  <div class="container">
    <div class="img-block"></div>
    <div class="text-block">
      <div class="h2">{% trans "Собери свою" %}<br>{% trans "первую антенну" %}</div>
      <p class="subtitle">
        {% trans "Наш портал поможет вам в конструировании первой антенны и приеме спутника на вашу наземную станцию." %}
      </p>
      <p class="subtitle">
        {% trans "На нашем портале «Энциклопедия» вы найдете большое количество интересной информации о радиолюбительстве, космосе, спутниках и космонавтике." %}
      </p>
      <p><a href="https://spacepi.space/wiki/set-shkolnyh-nazemnyh-stanczij/"
          target="_blank"
          class="href-with-arrow">{% trans "Энциклопедия" %}<img src="/static/img/arrow-right.svg"
            alt=">"
            class="arrow-right"></a></p>
    </div>
  </div>
</section>
<section id="partners"
  class="block-partners">
  <div class="container">
    <div class="text-block">
      <div class="h2">{% trans "Партнеры" %}</div>
      <div class="subtitle">
        {% trans "Если вы заинтересованы в сотрудничестве и хотите поддержать развитие открытой сети, пишите нам" %} <a
          href="mailto:sonikspace@yandex.ru">sonikspace@yandex.ru</a></div>
    </div>
    <div class="row partners-items-block">
      <a class="partners-item"
        href="https://geoscan.ru/"
        target="_blank"><img src="/static/img/frontpage/partners/1.svg"
          alt="Geoscan"></a>
      <a class="partners-item"
        href="{% url 'base:space_education' %}"><img src="/static/img/frontpage/partners/7.png"
          alt="{% trans 'Развитие космического образования' %}"></a>
      <a class="partners-item"
        href="https://spacepi.space/"
        target="_blank"><img src="/static/img/frontpage/partners/3.svg"
          alt="Space-PI"></a>
      <a class="partners-item"
        href="https://www.fasie.ru/"
        target="_blank"><img src="/static/img/frontpage/partners/4.svg"
          alt="fasie"></a>
    </div>
  </div>
</section>
<script src="{% static 'lib/mapbox-gl/dist/mapbox-gl.js' %}"></script>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
