{% extends "base.html" %}
{% block title %} - {% trans "Спутник" %} {{ satellite.name }}{% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/mapbox-gl/dist/mapbox-gl.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/satellite_view.scss' %}">
{% endblock css %}

{% block body-class %}class="satellite_view"{% endblock %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:satellites_list' %}">{% trans "Назад" %}</a></div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-8 satellite-name">
      <h1>{{ satellite.name }}</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4 row sat-actions">
      <a href="#info"
        class="btn btn-sm btn-outline-gray"><span class="bi bi-info-circle"></span> {% trans "Информация" %}</a>
      <a href="#transmitters-cards"
        class="btn btn-sm  btn-outline-gray">
        <span class="bi bi-broadcast"></span> {% trans "Передатчики" %}
        <span class="badget badget-small top badget-orange">{{ transmitters|length }}</span>
      </a>
      <a href="#data"
        class="btn btn-sm  btn-outline-gray">
        <span class="bi bi-bar-chart"></span> {% trans "Данные" %}
        {% if data_count > 0 %}
        <span class="badget badget-small top badget-orange">{{ data_count }}</span>
        {% endif %}
      </a>
      {% if satellite.dashboard_url %}
      <a href="{{ satellite.dashboard_url }}"
        class="btn btn-sm  btn-outline-gray"
        target="_blank">{% trans "ЦУП" %}
        <span class="bi bi-box-arrow-up-right"></span>
      </a>
      {% endif %}
      <a href="/observations/?norad={{ satellite.norad_cat_id }}"
        class="btn btn-sm  btn-outline-gray"
        target="_blank">{% trans "Наблюдения" %}
        <span class="bi bi-box-arrow-up-right"></span>
        <span class="badget badget-small top badget-orange">{{ obs_count }}</span>
      </a>
    </div>
  </div>
</section>
{% if showmap %}
<section class="block-bigmap">
  <div id="sat-map"
    class="back-map"
    data-name="{{ satellite.name }}"
    data-tle1="{{ latest_tle.tle1 }}"
    data-tle2="{{ latest_tle.tle2 }}"
    data-mapboxid="{{ mapbox_id }}"
    data-mapboxtoken="{{ mapbox_token }}"
    data-stations="{% url 'base:stations_all' %}"
    data-satid="{{ satellite.sat_id }}">
  </div>
  <div class="prev-shadow"></div>
  <div class="container description-map">
    <div class="gotocard">
      <a href="#"
        role="button"
        class="href-with-arrow">{% trans "Перейти на карту" %} <img src="/static/img/arrow-right.svg"
          alt=">"
          class="arrow-right"></a>
    </div>
    <div class="description">
      <div {% if request.user.is_authenticated %}class="status-with-mt"
        {% endif %}>
        {% trans "спутник" %} {% if satellite.status == "alive" %}{% trans "активен" %}
        {% else %}{% trans "неактивен" %}
        {% endif %}<span
          class="circle {% if satellite.status == "alive" %}circle-blue{% else %}circle-red{% endif %}"></span>
        {% if satellite.unknown and satellite.status == "alive" %}<br>{% trans "статус неизвестен" %} <span
          class="circle circle-red"></span>{% endif %}
      </div>
    </div>
    <div class="gotoback d-none">
      <a href="#"
        role="button"
        class="href-with-arrow"><img src="/static/img/arrow-right.svg"
          alt="<"
          class="arrow-right arrow-back"></a>
    </div>
  </div>
</section>
{% endif %}

<section id="info"
  class="block-satellites-information">
  <div class="container">
    <div class="row">
      <div class="col sattelite-img-wrapper">
        {% if satellite.image %}
        <a href="/media/{{satellite.image}}"
          data-fancybox="sattelite-image"
          class="sputnik-img"><img src="/media/{{satellite.image}}"
            alt="{% trans 'Информация о спутнике' %}"
            class="sattelite-img"></a>
        {% else %}
        <a href="/static/img/sat.png"
          data-fancybox="sattelite-image"
          class="sputnik-img"><img src="/static/img/sat.png"
            alt="{% trans 'Информация о спутнике' %}"
            class="sattelite-img"></a>
        {% endif %}
      </div>
      <div class="col information-block">
        <div class="h2">{% trans "Информация о миссии" %}</div>
        <div class="information-block__table">
          <div class="row">
            <div class="title">{% trans "Название КА" %}</div>
            <div class="description">{{ satellite.name }}</div>
          </div>
          <div class="row">
            <div class="title">{% trans "Позывной" %}</div>
            <div class="description">
              {% if satellite.call_sign != None %}{{ satellite.call_sign }}
              {% else %}
              <div class="empty-val"></div>
              {% endif %}
            </div>
          </div>
          {% if satellite.is_frequency_violator %}
          <div class="row">
            <div class="title">{% trans "Статус использования частот" %}</div>
            <div class="description">{% trans "Нарушитель" %}</div>
          </div>
          {% endif %}
          <div class="row">
            <div id="sat_id"
              data-satid="{{ satellite.sat_id }}"
              class="title">{% trans "Идентификатор" %}</div>
            <div class="description">{{ satellite.sat_id }}</div>
          </div>
          <div class="row">
            <div class="title">{% trans "NORAD ID" %}</div>
            <div class="description"><a href="#orbital-elements">{{ satellite.norad_cat_id }}</a></div>
          </div>
          <div class="row no-wrap">
            <div class="title">{% trans "Веб-сайт" %}</div>
            <div class="description overflow-ellipsis">
              {% if satellite.website %}
              <a href="{{ satellite.website }}"
                target="_blank">{{ satellite.website }}</a>
              {% else %}
              <div class="empty-val"></div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row information-block__status">
          <div class="sattelite-status{% if satellite.status != 'alive' %} error{% endif %}"></div>
          <div class="title status">{% trans "Статус" %}</div>
          <div class="description status">
            {% if satellite.status == "alive" %}{% trans "Активный" %}<br>{% trans "Спутник находится на орбите" %}
            {% if satellite.unknown %}<br><span>{% trans "Сеть давно не принимала данные с этого спутника" %}
            </span>{% endif %}
            {% elif satellite.status == "re-entered" %}{% trans "Неактивный" %}<br>{% trans "Спутник сгорел в атмосфере" %}
            {% elif satellite.status == "future" %}{% trans "Будущий" %}<br>
            {% trans "Спутник скоро будет на орбите" %}
            {% else %}{% trans "Неактивный" %}<br> {% trans "Спутник не отправляет сигналы" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if showmap %}
<section class="block-satellites-information orbital">
  <div class="container">
    <div class="row information-block">
      <div class="h2">{% trans "Орбитальные параметры спутника" %}</div>
      <div class="information-block__table">
        <div class="row">
          <div class="title">{% trans "Перигей" %} </div>
          <div class="description">
            {% if satellite.perigee %}
            {{ satellite.perigee|floatformat:2 }} {% trans "км" %}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Апогей" %}</div>
          <div class="description">
            {% if satellite.apogee %}
            {{ satellite.apogee|floatformat:2 }} {% trans "км" %}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Наклонение" %}</div>
          <div class="description">
            {% if parameters.inclination %}
            {{ parameters.inclination }}°
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Период" %}</div>
          <div class="description">
            {% if parameters.period %}
            {{ parameters.period }} {% trans "мин" %}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Большая полуось" %}</div>
          <div class="description">
            {% if parameters.semi_major_axis %}
            {{ parameters.semi_major_axis }} {% trans "км" %}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Скорость" %}</div>
          <div class="description">
            {% if parameters.velocity %}
            {{ parameters.velocity }} {% trans "км/с" %}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<section class="block-satellites-information timeline">
  <div class="container">
    <div class="row information-block">
      <div class="h2">{% trans "Хронология миссии" %}</div>
      <div class="information-block__table">
        <div class="row">
          <div class="title">{% trans "Время запуска" %}</div>
          <div class="description">
            {% if satellite.launched != None %}
            {{ satellite.launched|date:"Y-m-d H:i:s" }}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Время отделения" %}</div>
          <div class="description">
            {% if satellite.deployed != None %}
            {{ satellite.deployed|date:"Y-m-d H:i:s" }}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        {% if satellite.decayed != None %}
        <div class="row">
          <div class="title">{% trans "Время вхождения в атмосферу" %}</div>
          <div class="description">
            {{ satellite.decayed|date:"Y-m-d H:i:s" }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<section id="transmitters-cards"
  class="block-transmitters">
  <div class="container">
    <div class="h2">{% trans "Передатчики" %}</div>
    <div class="row transmitters-cards">
    </div>
  </div>
</section>
<section class="block-satellites-information telemetry">
  <div class="container">
    <div class="row information-block">
      <div class="h2">{% trans "Декодер телеметрии" %} {{ satellite.name }}</div>
      <div class="information-block__table">
        <div class="row">
          <div class="title">{% trans "Название декодера" %}</div>
          <div class="description">
            {% if decoder %}
            {{ decoder }}
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Поля декодера" %}</div>
          <div class="description">
            {% if decoder %}
            <a data-target="#modalDecoder"
              data-toggle="modal"
              data-target-type="modal">{% trans "Кликните сюда" %}</a>
            {% else %}
            <div class="empty-val"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if recent_observers %}
<section class="block-satellites-information last-observers">
  <div class="container">
    <div class="row information-block">
      <div class="h2">{% trans "Последние наблюдатели" %}</div>
      <div class="information-block__table">
        <div class="row header">
          <div class="title">{% trans "Наблюдатель" %}</div>
          <div class="description">{% trans "Время приема" %}</div>
        </div>
        {% for obs in recent_observers %}
        <div class="row">
          <div class="title">
            <a href="/stations/{{ obs.ground_station.id }}">
              {{ obs.ground_station.name }}{% if obs.ground_station.qthlocator %}-{{ obs.ground_station.qthlocator }}{% endif %}
            </a>
          </div>
          <div class="description">{{ obs.latest_data|date:"Y-m-d H:i:s" }} UTC</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
<section id="data"
  class="block-decoded-data">
  <div class="container">
    <div class="h2">{% trans "Данные за последние 30 дней" %}</div>
    <div class="decoded-data-table">
      {% if satellite.dashboard_url %}
      <div class="href-goto">
        <a href="{{ satellite.dashboard_url }}"
          target="_blank"
          class="href-with-arrow">{% trans "Перейти на ЦУП" %} <img src="/static/img/arrow-right.svg"
            alt=">"
            class="arrow-right"></a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<section class="block-export-data">
  {% if request.user.is_authenticated and satellite.telemetry_data.exists %}
  <div class="container">
    <div class="row export-data">
      <div class="col title">
        <div class="h2">{% trans "Экспорт данных" %}</div>
      </div>
      <div class="col data-details">
        <div class="subtitle">{% trans "Вы можете запросить экспорт данных для спутника" %} {{ satellite.name }}
        </div>
        <div class="subtitle">{% trans "Пожалуйста, обратите внимание, что экспорт происходит на стороне сайта." %}
          {% trans "Вы будете уведомлены на почту, когда данные будут готовы к скачиванию." %}
          {% trans "Вы можете запросить данные за следующие периоды." %}</div>
        <ul>
          <li><a
              href="{% url 'base:request_export' sat_pk=satellite.pk period=1 %}">{% trans "За последнюю неделю" %}</a>
          </li>
          <li><a
              href="{% url 'base:request_export' sat_pk=satellite.pk period=2 %}">{% trans "За последний месяц" %}</a>
          </li>
          <li><a href="{% url 'base:request_export_all' sat_pk=satellite.pk %}">{% trans "За всё время" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</section>
<section class="block-export-data block-export-tle">
  {% if request.user.is_authenticated and satellite.tle_sets.exists %}
  <div class="container">
    <div class="row export-data export-tle">
      <div class="col data-details">
        <div class="subtitle">{% trans "Вы можете запросить TLE спутника" %} {{ satellite.name }}
        </div>
        <div class="subtitle">{% trans "Пожалуйста, обратите внимание, что экспорт происходит на стороне сайта." %}
          {% trans "Вы будете уведомлены на почту, когда данные будут готовы к скачиванию." %}
          {% trans "Вы можете запросить TLE за следующие периоды." %}</div>
        <ul>
          <li><a href="{% url 'base:request_tle' sat_pk=satellite.pk period=1 %}">{% trans "За последнюю неделю" %}</a>
          </li>
          <li><a href="{% url 'base:request_tle' sat_pk=satellite.pk period=2 %}">{% trans "За последний месяц" %}</a>
          </li>
          <li><a href="{% url 'base:request_tle_all' sat_pk=satellite.pk %}">{% trans "За всё время" %}</a></li>
        </ul>
      </div>
      <div class="col title">
        <div class="h2">{% trans "Экспорт TLE" %}</div>
      </div>
    </div>
  </div>
  {% endif %}
</section>
{% if latest_tle  %}
<section id="orbital-elements"
  class="block-satellites-information orbital-elements ">
  <div class="container">
    <div class="information-block row">
      <div class="h2">{% trans "Орбитальные элементы" %}</div>
      <div class="information-block__table">
        <strong>{% trans "Последние Двухстрочные Элементы (TLE)" %}</strong>
        <div class="row">
          <div class="title">{% trans "Источник TLE" %}</div>
          <div class="description">{% if latest_tle.tle_source %}{{ latest_tle.tle_source }}{% else %}
            <div class="empty-val"></div>{% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "TLE обновлено" %}</div>
          <div class="description">{% if latest_tle.updated %}{{ latest_tle.updated|date:"Y-m-d H:i:s" }}{% else %}
            <div class="empty-val"></div>{% endif %}
          </div>
        </div>
        <div class="row">
          <div class="title">{% trans "Двухстрочные элементы (TLE)" %}</div>
          <div class="description">
            <div class="block-copy">
              <pre id="copytext-dublestring-elements">{{ latest_tle.tle1 }}<br>{{ latest_tle.tle2 }}</pre>
              {% if latest_tle.tle1 %}
              <img src="/static/img/btn-copy.svg"
                alt="{% trans 'Копировать содержимое' %}"
                title="{% trans 'Копировать' %}"
                class="btn-copy"
                data-target="copytext-dublestring-elements">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<script src="{% static 'lib/mapbox-gl/dist/mapbox-gl.js' %}"></script>
{% endblock content %}

{% block modal %}
<!-- Modal decoder-->
<div class="modal fade"
  id="modalDecoder"
  tabindex="-1"
  role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-md"
    role="document">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        {{ satellite.name }}
        <div class="btn btn-small btn-without-border-red"
          data-dismiss="modal"><span class="bi bi-x"></span></div>
      </div>
      <div class="modal-body"
        id="modalDecoder-content">
        {% for telemetry in satellite.telemetries.all %}
        {% for field in telemetry.get_kaitai_fields %}
        <code>{{ field }}</code><br />
        {% endfor %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <div class="btn btn-small btn-orange"
          data-dismiss="modal">{% trans "Скрыть" %}</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal citation-->
<div class="modal fade"
  id="modalCitation"
  tabindex="-1"
  role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modalDecoder-title">
      <div class="modal-header align-items-center">
        <div class="btn btn-small btn-without-border-red"
          data-dismiss="modal"><span class="bi bi-x"></span></div>
      </div>
      <div id="modalCitation-content"
        class="modal-body">
        <code></code>
      </div>
    </div>
  </div>
</div>

{% include 'includes/station_popup.html' %}
{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'lib/satellite.js/dist/satellite.min.js' %}"></script>
<script src="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.umd.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'js/frequency_utils.js' %}"></script>
<script src="{% static 'js/polar_svg.js' %}"></script>
<script src="{% static 'js/satellite_view.js' %}"></script>
{% if showmap %}
<script src="{% static 'js/map-satellite.js' %}"></script>
{% endif %}
{% endblock javascript %}