{% extends "base.html" %}
{% load humanize %}

{% block title %} - {% trans "Статистика" %} {% endblock %}

{% block css %}
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/statistics.scss' %}">
{% endblock css %}

{% block body-class %}class="statistics"{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Статистика" %}</h1>
</section>
<section class="container top-tables">
  <div class="row top-tables-content">
    <div class="col">
      <div id="satellites_top"
        class="card">
        <div class="row card-header">
          <div class="col h5">{% trans "Спутники: ТОП-10" %}</div>
          <div class="options">
            <select class="form-control selectpicker period-select"
              data-style="btn"
              name="period">
              <option value="_d"
                selected>{% trans "День" %}</option>
              <option value="_w">{% trans "Неделя" %}</option>
              <option value="_m">{% trans "Месяц" %}</option>
              <option value="">{% trans "Всё время" %}</option>
            </select>
            <button type="button"
              class="btn btn-sm btn-orange top-btn focus-btn"
              value="sonik">{% trans "СОНИКС" %}</button>
            <button type="button"
              class="btn  btn-sm btn-blue top-btn nonfocus-btn"
              value="all">{% trans "Всего" %}</button>
          </div>
        </div>
        <div class="card-body"
          id="top-satellites">
          <div id="satellites-spinner"
            class="loading-spinner">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <table class="table hover">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="stations_top"
        class="card">
        <div class="row card-header">
          <div class="col h5">{% trans "Станции: ТОП-10" %}</div>
          <div class="options">
            <select class="form-control selectpicker period-select-station"
              data-style="btn"
              name="period">
              <option value="_d"
                selected>{% trans "День" %}</option>
              <option value="_w">{% trans "Неделя" %}</option>
              <option value="_m">{% trans "Месяц" %}</option>
              <option value="">{% trans "Всё время" %}</option>
            </select>
            <button type="button"
              class="btn btn-sm btn-orange top-btn focus-btn"
              value="sonik">{% trans "СОНИКС" %}</button>
            <button type="button"
              class="btn btn-sm btn-blue top-btn nonfocus-btn"
              value="all">{% trans "Всего" %}</button>
          </div>
        </div>
        <div class="card-body"
          id="top-stations">
          <div id="stations-spinner"
            class="loading-spinner">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <table class="table hover">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container statistics-summary">
  <div class="summary-content">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header row">{% trans "Спутники" %}
            <a href="{% url 'base:satellite_statistics' %}"
              class="arrow">
              {% trans "Подробная статистика" %}</a>
          </div>
          <div class="card-body row">
            <div class="col">
              <strong>{{ total_satellites }}</strong>
              <div class="description">{% trans "Всего" %}</div>
            </div>
            <div class="col">
              <strong class="part-data"
                data-full="{{ total_satellites }}">{{ alive_satellites }}</strong>
              <div class="description">{% trans "Активных" %}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">{% trans "Передатчики" %}</div>
          <div class="card-body row">
            <div class="col">
              <strong class="card-title">{{ total_transmitters }}</strong>
              <div class="description">{% trans "Всего" %}</div>
            </div>
            <div class="col">
              <strong class="part-data"
                data-full="{{ total_transmitters }}">{{ alive_transmitters }}</strong>
              <div class="description">{% trans "Активных" %}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header row">{% trans "Станции" %}
            <a href="{% url 'base:station_statistics' %}"
              class="arrow">
              {% trans "Подробная статистика" %}</a>
          </div>
          <div class="card-body row">
            <div class="col">
              <strong>{{ total_stations }}</strong>
              <div class="description">{% trans "Всего" %}</div>
            </div>
            <div class="col">
              <strong class="part-data"
                data-full="{{ total_stations }}">{{ active_stations }}</strong>
              <div class="description">{% trans "Активных" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header row">{% trans "Принятые данные (СОНИКС)" %}</div>
          <div class="card-body row">
            <div class="col">
              <strong>{{ total_sonik_data }}</strong>
              <div class="description">{% trans "Всего" %}</div>
            </div>
            <div class="col">
              <strong class="part-data"
                data-full="{{ total_sonik_data }}">{{ decoded_sonik_data }}</strong>
              <div class="description">{% trans "Декодированные" %}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header row">{% trans "Принятые данные (суммарно)" %}</div>
          <div class="card-body row">
            <div class="col">
              <strong>{{ total_data }}</strong>
              <div class="description">{% trans "Всего" %}</div>
            </div>
            <div class="col">
              <strong class="part-data"
                data-full="{{ total_data }}">{{ decoded_data }}</strong>
              <div class="description">{% trans "Декодированные" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container diagrams">
  <h3>{% trans "Модуляции передатчиков" %}</h3>
  <div class="row row-with-modes">
    <div class="col tr-modes">
      <canvas id="modes"
        width="300"
        height="300"></canvas>
    </div>
    <div class="col"
      id="modes-labels">
      <div id="modes-spinner"
        class="loading-spinner">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
  <h3>{% trans "Частоты передатчиков" %}</h3>
  <div class="row row-with-bands">
    <div class="col-6"
      id="bands-labels">
      <div id="bands-spinner"
        class="loading-spinner">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
    <div class="col tr-bands">
      <canvas id="bands"
        width="300"
        height="300"></canvas>
    </div>
  </div>
</section>
{% endblock content %}
{% block javascript %}
<script src="{% static 'lib/admin-lte/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/statistics.js' %}"></script>
{% endblock javascript %}