{% extends "base.html" %}




{% block title %} {% trans "Регистрация станции Шаг 1" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center">
    <h2>
      {% trans "Регистрация станции - Шаг 1: Выберите тип регистрации" %}
    </h2>
  </div>
</div>

<div id="choices"
  class="row justify-content-around">
  <h3 class="col-md-12">{% trans "Выберите регистрацию новой станции:" %}</h3>
  <div class="col-md-12">
    <button type="button"
      id="new-station"
      class="btn btn-primary choice-button">{% trans "Зарегистрировать новую станцию" %}</button>
  </div>
  {% if stations %}
  <h3 class="col-md-12">{% trans "или перерегистрируйте один из уже существующих:" %}</h3>
  {% for station in stations %}
  <button type="button"
    data-station="{{ station.id }}"
    class="btn btn-outline-dark bg-light choice-station-button"> {{ station.id }} - {{station.name}}</button>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/station_register_step1.js' %}"></script>
{% endblock javascript %}
