{% extends "base.html" %}
{% block title %} - {% trans "Передатчики" %} {% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/jquery-ui/dist/themes/base/jquery-ui.min.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/transmitters.scss' %}">
{% endblock css %}

{% block body-class %}class="transmitters"{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Передатчики" %}</h1>
</section>
<section class="tables-filtering container">
  <form action=""
    id="transmittersFilteringForm"
    class="tables-filtering__form">
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Статус" %}
          <div class="checkbox-group">
            <label class="btn btn-green btn-sm {% if active == '0' %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="active"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Активный' %}">
              <input type="checkbox"
                name="active"
                value="0"
                {% if active == '0' %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-check"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-red btn-sm {% if inactive == '0' %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="inactive"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Неактивный' %}">
              <input type="checkbox"
                name="inactive"
                value="0"
                {% if inactive == '0' %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-x"
                aria-hidden="true"></span>
            </label>
          </div>
        </label>
      </div>
      <div id="type-filter-formgroup"
        class="form-group col">
        <label>{% trans "Тип" %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="type"
            autocomplete="off"
            id="transmitters-type"
            data-live-search="false">
            <option value=""
              selected>{% trans "Все" %}</option>
            {% for type in all_type %}
            <option data-type="{{ type }}"
              value="{{ type }}"
              {% if type == selected_type %}selected{% endif %}>
              {{ type }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div id="mode-filter-formgroup"
        class="form-group col">
        <label>{% trans "Модуляция" %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="mode"
            autocomplete="off"
            data-size="10"
            id="transmitters-mode"
            data-live-search="true">
            <option value=""
              selected>{% trans "Все" %}</option>
            {% for mode in modes %}
            <option data-mode="{{ mode.id }}"
              value="{{ mode.id }}"
              {% if mode.id == selected_mode %}selected{% endif %}>
              {{ mode }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="form-group col">
        <label>{% trans "Спутник" %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="satellite"
            autocomplete="off"
            data-size="10"
            id="transmitters-satellite"
            data-live-search="true">
            <option value=""
              selected>Все</option>
            {% for satellite in satellites %}
            <option data-satellite="{{ satellite.sat_id }}"
              value="{{ satellite.sat_id }}"
              {% if satellite.sat_id == selected_satellite %}selected{% endif %}>
              {{ satellite.norad_cat_id }} - {{ satellite.name }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
    </div>
    <div class="hidden-filters {% if more_filtered == False %}hide-row{% endif %}">
      <div class="row">
        <div class="form-group col">
          <label>{% trans "Название" %}
            <div>
              <input type="text"
                id="transmitters-description"
                class="w-100"
                name="description"
                aria-labelledby="search-label"
                {% if description is not None %}
                value="{{ description }}"
                {% endif %}>
            </div>
          </label>
        </div>
        <div class="form-group col">
          <label>{% trans "Скорость передачи" %}
            <div class="row filter_sides">
              <div class="col filter_side">
                <input id="baud-filter-1"
                  class="form-control form-control-sidebar w-100"
                  type="number"
                  name="baud-start"
                  {% if baud_min is not None %}value="{{ baud_min }}"
                  {% endif %}>
              </div>
              <div class="col filter_side">
                <input id="baud-filter-2"
                  class="form-control form-control-sidebar w-100"
                  type="number"
                  name="baud-end"
                  {% if baud_max is not None %}value="{{ baud_max }}"
                  {% endif %}>
              </div>
            </div>
            <div id="slider-range-baud"></div>
          </label>
        </div>
        <div class="form-group col">
          <label>{% trans "Частота" %}
            <div class="row filter_sides">
              <div class="col filter_side">
                <input id="downlink-filter-1"
                  class="form-control form-control-sidebar w-100"
                  type="number"
                  name="downlink-start"
                  {% if downlink_min is not None %}value="{{ downlink_min }}"
                  {% endif %}>
              </div>
              <div class="col filter_side">
                <input id="downlink-filter-2"
                  class="form-control form-control-sidebar w-100"
                  type="number"
                  name="downlink-end"
                  {% if downlink_max is not None %}value="{{ downlink_max }}"
                  {% endif %}>
              </div>
            </div>
            <div id="slider-range-downlink"></div>
          </label>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col">
        <div id="show-all-filters"
          class="btn btn-big btn-gray {% if more_filtered == True %}show{% endif %}">
          {% if more_filtered == False %}{% trans "Больше фильтров" %}{% else %}{% trans "Меньше фильтров" %}{% endif %}
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button type="submit"
          class="btn btn-big btn-blue">{% trans "Поиск" %}</button>
      </div>
    </div>
  </form>
</section>
<section class="block-table">
  <div class="container">
    <div class="wrapper">
      <table id="transmittersTable"
        class="table dataTable db-table"
        role="grid">
        <thead>
          <th data-priority="1"
            data-visible="true"></th>
          <th data-priority="2"
            class="first-th"
            data-visible="{% if columns.T_Спутник != None %}{{ columns.T_Спутник }}{% else %}true{% endif %}">
            {% trans "Спутник" %}</th>
          <th data-priority="4"
            data-visible="{% if columns.T_Описание != None %}{{ columns.T_Описание }}{% else %}true{% endif %}">
            {% trans "Описание" %}</th>
          <th data-priority="5"
            data-visible="{% if columns.T_Тип != None %}{{ columns.T_Тип }}{% else %}true{% endif %}">Тип</th>
          <th data-priority="6"
            data-visible="{% if columns.T_Частота != None %}{{ columns.T_Частота }}{% else %}true{% endif %}">
            {% trans "Частота" %}</th>
          <th data-priority="7"
            data-visible="{% if columns.T_Модуляция != None %}{{ columns.T_Модуляция }}{% else %}true{% endif %}">
            {% trans "Модуляция" %}
          </th>
          <th data-priority="9"
            data-visible="{% if columns.T_Статус != None %}{{ columns.T_Статус }}{% else %}true{% endif %}">
            {% trans "Статус" %}</th>
          <th data-priority="3"
            data-sortable="true"
            data-visible="{% if columns.T_Uuid != None %}{{ columns.T_Uuid }}{% else %}false{% endif %}">UUID</th>
          <th data-priority="8"
            data-sortable="true"
            data-visible="{% if columns.T_Скорость != None %}{{ columns.T_Скорость }}{% else %}false{% endif %}">
            {% trans "Скорость" %}</th>
          {% if request.user.is_authenticated %}
          <th data-priority="10"
            data-sortable="false"
            data-visible="{% if columns.T_Изменить != None %}{{ columns.T_Изменить }}{% else %}false{% endif %}">
            {% trans "Изменить" %}</th>
          {% else %}
          <th class="d-none"></th>
          {% endif %}
        </thead>
        <tbody>
          {% for transmitter in transmitters %}
          <tr>
            <td class='details-control'>
              <i class="fa fa-plus-square"
                aria-hidden="true"></i>
            </td>
            <td class="first-td">
              <div class="overlap-lines link">
                <a href="#"
                  data-toggle="modal"
                  data-target="#SatelliteModal"
                  data-id="{{ transmitter.satellite.norad_cat_id }}"
                  data-sat-id="{{ transmitter.satellite.sat_id }}">
                  {{ transmitter.satellite.name }}
                </a>
              </div>
            </td>
            <td>
              <div class="overlap-lines">
                {{ transmitter.description }}
              </div>
            </td>
            <td>
              {% if transmitter.type == "Transmitter" %}
              {% trans "Передатчик" %}
              {% elif transmitter.type == "Transceiver" %}
              {% trans "Приемник" %}
              {% elif transmitter.type == "Transponder" %}
              {% trans "Приемопередатчик" %}
              {% endif %}
            </td>
            <td class="frequency">
              {{ transmitter.downlink_low }}
            </td>
            <td>
              {{ transmitter.downlink_mode }}
            </td>
            <td>
              <div class="no-wrap">
                <span class="circle circle-{% if transmitter.status == 'active' %}green{% else %}red{% endif %}"></span>
                {% if transmitter.status == 'active' %}
                {% trans "Активный" %}
                {% elif transmitter.status == 'inactive' %}
                {% trans "Неактивный" %}
                {% elif transmitter.status == 'invalid' %}
                {% trans "Недействительный" %}
                {% endif %}
              </div>
            </td>
            <td>
              {{ transmitter.uuid }}
            </td>
            <td>
              {{ transmitter.baud }}
            </td>
            {% if request.user.is_authenticated %}
            <td>
              <a class="btn btn-outline-warning btn-sm edit-transmitter-link"
                data-uuid="{{ transmitter.uuid }}"
                data-form-url="{% url 'base:edit_transmitter' %}">
                <span class="bi bi-pencil-fill"
                  aria-hidden="true"></span>
              </a>
            </td>
            {% else %}
            <th class="d-none"></th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}

<!-- Modal -->
<div class="modal fade"
  id="edit-transmitter-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg"
    role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'js/satellite_modal.js' %}"></script>
<script src="{% static 'js/transmitters.js' %}"></script>
{% endblock %}