{% extends "base.html" %}
{% load static %}

{% block title %} - {% trans "Оценка наблюдений" %}{% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/observation_view.scss' %}">
{% endblock css %}

{% block body-class %}class="vet_container"{% endblock %}

{% block content %}
<section id="vet-obs-header"
  class="container">
  {% if obs_ids %}
  <div class="row vet-header">
    <button id="btn-prev"
      class="btn btn-sm btn-outline-blue prev"
      disabled="true">
      <img src="{% static '/img/arrow-right.svg' %}"
        alt="<"
        class="arrow-left">
    </button>
    <strong>{% trans "Наблюдение" %} <span id="current-obs-display">1</span> {% trans "из" %} <span
        id="total-obs-display"></span></strong>
    <button id="btn-next"
      class="btn btn-sm btn-outline-blue next"
      disabled="true">
      <img src="{% static '/img/arrow-right.svg' %}"
        alt=">"
        class="arrow-right">
    </button>
    <label>
      {% trans "Авто-режим" %}
      <input class=""
        type="checkbox"
        id="auto-advance-checkbox">
    </label>
  </div>
  <button id="btn-prev-mobile"
    class="btn btn-sm btn-outline-blue btn-mobile prev"
    disabled="true"><span class="mr-1"><svg xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
      </svg></span>
  </button>
  <button id="btn-next-mobile"
    class="btn btn-sm btn-outline-blue btn-mobile next"
    disabled="true"><span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-arrow-right-circle"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
      </svg></span>
  </button>
  <div class="row justify-content-around">
    <div id="obs-loading"
      class="loading-spinner">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
  {% endif %}
</section>
<section id="vet-obs-container"
  class="container"
  data-chunks_buffer_headstart="{{ chunks_buffer_headstart }}"
  data-fwd_buffer_chunks="{{ fwd_buffer_chunks }}"
  data-bwd_buffer_chunks="{{ bwd_buffer_chunks }}"
  data-page_size="{{ page_size }}"
  data-total_items="{{ total_items }}"
  data-total_pages_num="{{ total_pages_num }}"
  data-query_url="{{ query_url }}">
  {% if not obs_ids %}
  <p>
    {% trans "Нет наблюдений с водопадом для оценки. Проверьте параметры поиска и ваши права на оценку и попробуйте снова." %}
    <a href="{{ observation_search_url }}"> {% trans "Вернуться к поиску наблюдений" %}</a>.
  </p>
  {% endif %}
</section>
<script src="{% static 'js/json-viewer.bundle.js' %}"></script>
{{ obs_ids|json_script:"obs-ids" }}{{can_vet|json_script:"can-vet"}}
{% endblock content %}

{% block modal %}

<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}

<!-- Hotkeys Modal -->
{% include 'includes/observation-hotkeys.html' %}

<!-- Modal observationsInfo-->
<div class="modal fade"
  id="modalobservationsInfo"
  tabindex="-1"
  role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-md"
    role="document">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <span class="bi bi-info-circle"></span>
        {% trans "Информация" %}
      </div>
      <div class="modal-body">
        <p>{% trans "Статус наблюдения оценивается следующим образом:" %}</p>
        <ul class="badgets-info">
          <li><span
              class="badget badget-big badget-green">{% trans "Есть сигнал" %}</span>{% trans "На водопаде отображается сигнал (g)" %}
          </li>
          <li><span
              class="badget badget-big badget-orange">{% trans "Неизвестный" %}</span>{% trans "Наблюдение не имеет оценки (u)" %}
          </li>
          <li><span
              class="badget badget-big badget-red">{% trans "Нет сигнала" %}</span>{% trans "На водопаде не отображается сигнал (b)" %}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-small btn-orange"
          data-dismiss="modal">{% trans "Скрыть" %}</div>
      </div>
    </div>
  </div>
</div>
<!-- / Modal stationsInfo -->

{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/kaitai-struct/KaitaiStream.js' %}"></script>
<script src="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.umd.js' %}"></script>
<script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'lib/satellite.js/dist/satellite.min.js' %}"></script>
<script src="{% static 'lib/jquery.json-viewer/json-viewer/jquery.json-viewer.js' %}"></script>
<script src="{% static 'lib/wavesurfer.js/dist/wavesurfer.min.js' %}"></script>
<script src="{% static 'lib/wavesurfer.js/dist/plugins/spectrogram.min.js' %}"></script>
<script src="{% static 'js/vet_observations.js' %}"></script>
<script src="{% static 'js/observation_view.js' %}"></script>
<script src="{% static 'js/polar_svg.js' %}"></script>
<script src="{% static 'js/satellite_modal.js' %}"></script>
<script src="{% static 'js/ax25monitor.js' %}"></script>
{% endblock javascript %}