{% extends "base.html" %}
{% block title %} - {% trans 'АНО "РКО"' %} {{ observation.id }}{% endblock %}

{% block css %}
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/partners.scss' %}">
{% endblock css %}

{% block content %}
<section class="container block-h1">
  <h1 class="h2">{% trans "Развитие космического образования" %}</h1>
</section>
<section class="container container-partners">
  <div class="wrap"></div>
  <p>
    {% trans "АНО «Развитие космического образования» создана с целью популяризации космонавтики, астрономии и астрофизики, формирования у целевой аудитории интереса к инженерному и научно-техническому творчеству, создания условий для широкого знакомства молодёжи и школьников с космическими исследованиями и разработками, а также с достижениями и перспективами развития современной российской науки и техники." %}
  </p>
  <p>
    {% trans "Одна из задач АНО – формирование необходимой инфраструктуры поддержки и развития научно-технического творчества школьников в области космических исследований и разработок, в том числе посредством разработки методического обеспечения работы с молодёжью и школьниками. На данный момент АНО является оператором открытой сети наземных станций для приёма сигналов с космических аппаратов – СОНИКС. Организация осуществляет разработку и поддержку данной сети: аренду серверов, координацию работы веб-разработчиков, создание методических материалов, развитие проекта." %}
  </p>
  <p>
    {% trans "СОНИКС – первый в России открытый радиолюбительский проект, способный в том числе повысить привлекательность космонавтики и космических исследований и технологий среди широких кругов молодёжи и школьников России посредством создания открытых ПО и технологий, использующихся для получения данных с внеземных аппаратов. В союзе с образовательными программами появляется благоприятная среда для подкрепления интереса к отечественным технологиям и получения начальных знаний будущих специалистов всех смежных областей." %}
  </p>
  <p>{% trans "АНО следует принципам «манифеста открытого космоса» организации" %} <a
      href="https://manifesto.libre.space/ru/"
      target="_blank">LibreSpaceFoundation</a>:</p>
  <p class="citation">
    <strong><i>{% trans "«Будущее всего человечества в космосе. Космос – это возможность человечества по-новому проводить исследования, развивать науку и технику, использовать новые технологии и двигаться по пути к процветанию. Этот путь будет надежной гарантией того, что доступ к технологиям будет долгосрочным, постоянным, свободным и с равными возможностями для всего человечества»." %}
      </i></strong>
  </p>
  <p>{% trans "В задачи АНО входит:" %}</p>
  <ul>
    <li>
      {% trans "создание условий для широкого знакомства молодёжи и школьников с космическими исследованиями и разработками и максимального вовлечения школьников в процессы создания и применения космических систем и технологий для решения сложных и важных для человечества задач;" %}
    </li>
    <li>
      {% trans "объединение усилий сторон и их партнёров для формирования доступной современной познавательной и образовательной среды в области широкого круга космических исследований и разработок, ориентированной на увеличение количества школьников, ежегодно вовлекаемых в научно-техническую и творческую активность." %}
    </li>
  </ul>
  <p>
    {% trans "Отличительной особенностью проекта СОНИКС является внедрение в работу со спутниковыми данными образовательного процесса. Тесный контакт разработчиков и методистов позволит приблизить школьников и студентов к космическим технологиям. Учитывая также открытую разработку, появляется возможность участия в ней любого желающего. Все разработки и добавленный функционал развивают международный проект открытых станций, и, что самое главное, отечественные открытые технологии. При этом используются серверы и облачные хранилища, расположенные на территории РФ." %}
  </p>
</section>
{% endblock content %}