{% extends "account/base.html" %}

{% block title %} - {% trans "Регистрация" %}{% endblock title %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:home' %}">{% trans "Назад" %}</a></div>
  <h1>{% trans "Регистрация" %}</h1>
  <div class="row subtitle">
    {% trans "Уже существует аккаунт? " %} <a href="{{ login_url }}">{% trans "Войти" %}</a>!
  </div>
</section>
<section class="container auth-block">
  <form class="authorization-form"
    id="signup_form"
    method="post"
    action="{% url 'account_signup' %}">{% csrf_token %}

    <div class="row">
      <div class="form-group col">
        <label>{% trans "Эл. Почта" %}
          <div>
            {{ form.email }}
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Имя пользователя" %}
          <div>
            {{ form.username }}
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Пароль" %}
          <div>
            {{ form.password1 }}
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Повторите пароль" %}
          <div>
            {{ form.password2 }}
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-small btn-orange"
        type="submit">{% trans "Зарегистрироваться" %}</button>
    </div>
  </form>
</section>
{% endblock content %}
