{% extends "base.html" %}
{% load cache %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
{% if user == request.user %}
- {% trans "Личный кабинет" %}
{% else %}
- {% trans "Пользователь" %}: {{ user.username }}
{% endif %}
{% endblock title %}

{% block css %}
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/account.scss' %}">
{% endblock css %}

{% block body-class %}
class="account"
{% endblock body-class %}
{% block content %}
<section class="container account-section">
  <div class="row account-content">
    <aside class="aside-menu">
      <div class="user-img__wrapper">
        <div class="user-image">
          <img src="{% static 'img/auth-icon.svg' %}"
            alt="{% trans 'Пользователь' %}">
        </div>
        <div class="user-name">
          <strong>{{ user.username }}</strong>
        </div>
      </div>
      <nav class="account-menu">
        <ul class="nav-tabs">
          {% if user == request.user %}
          <li class="nav-item">
            <a href="#account-tab"
              type="button"
              data-toggle="tab"
              data-parent-tab="accountTabContent"
              data-target-tab="account-tab">{% trans "Личный кабинет" %}</a>
          </li>
          <li class="nav-item active">
            <a href="#stations-tab"
              type="button"
              data-toggle="tab"
              data-parent-tab="accountTabContent"
              data-target-tab="stations-tab">{% trans "Мои станции" %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'base:observations_list' %}?observer={{ user.id }}"
              type="button">{% trans "Мои наблюдения" %}</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a href="#stations-tab"
              type="button"
              data-toggle="tab"
              data-parent-tab="accountTabContent"
              data-target-tab="stations-tab">{% trans "Станции" %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'base:observations_list' %}?observer={{ user.id }}"
              type="button">{% trans "Наблюдения" %}</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </aside>
    <div class="col account-container">
      <div id="accountTabContent"
        class="tab-content">
        {% if user == request.user %}
        <div id="account-tab"
          class="tab-pane">
          <div class="row title">
            <h2>{% trans "Личный кабинет" %}</h2>
          </div>
          <div class="tab-pane-content">
            <form id="userForm"
              method="post"
              action="{% url 'users:update_user' %}"
              class="authorization-form"
              data-firstname="{{ user.first_name }}"
              data-lastname="{{ user.last_name }}"
              data-email="{{ user.email }}">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col">
                  <label>{% trans "Имя" %}
                    <div>
                      {{ form.first_name }}
                    </div>
                  </label>
                </div>
                <div class="form-group col">
                  <label>{% trans "Фамилия" %}
                    <div>
                      {{ form.last_name }}
                    </div>
                  </label>
                </div>
                <div class="form-group col">
                  <label>{% trans "Электронная почта" %}
                    <div>
                      {{ form.email }}
                    </div>
                  </label>
                </div>
              </div>

              <div class="row form__footer">
                <button type="submit"
                  class="btn btn-small btn-orange">{% trans "Сохранить" %}</button>
              </div>
            </form>
            <div class="row token-block">
              <button id="showAPI"
                type="button"
                class="btn btn-big btn-outline-blue">{% trans "Показать API-ключ" %}</button>
              <div class="block-copy with-copy-btn">
                <pre id="copytext-dublestring-elements">{{ token }}</pre>
                <img src="{% static 'img/btn-copy.svg' %}"
                  alt="{% trans 'Копировать содержимое' %}"
                  title="{% trans 'Копировать' %}"
                  class="btn-copy"
                  data-target="copytext-dublestring-elements">
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div id="stations-tab"
          class="tab-pane active">
          <div class="row title">
            {% if user == request.user %}
            <h2 class="col">{% trans "Мои станции" %}</h2>
            <a id="create-station"
              class="btn btn-sm btn-outline-orange"
              href="{% url 'base:station_edit' %}">{% trans "Создать станцию" %}</a>
            {% else %}
            <h2>{% trans "Станции" %}</h2>
            {% endif %}
          </div>
          <div class="wrapper tab-pane-content">
            {% if stations %}
            <table id="satellitesTable"
              class="table hover clickable">
              <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Название" %}</th>
                  <th>{% trans "Координаты" %}</th>
                  <th>{% trans "Наблюдения" %}</th>
                  <th>{% trans "Будущие" %}</th>
                  <th>{% trans "Антенны" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for station in stations %}
                <tr class="clickable-row"
                  data-href="{% url 'base:station_view' station_id=station.id %}">
                  <td>
                    <a href="{% url 'base:station_view' station_id=station.id %}">
                      <span
                        class="badget badget-big {% if station.last_seen %}badget-{{ station.get_status_display|lower }}{% else %}badget-future{% endif %}"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="{% if station.last_seen %} {% trans 'Была в сети'%} {{ station.last_seen|timesince_our }} {% trans 'назад'%}{% else %} {% trans 'Никогда не была в сети'%}{% endif %}">
                        {{ station.id }}
                      </span>
                    </a>
                  </td>
                  <td>{{ station.name }}</td>
                  <td>
                    {% if station.has_location %}
                    {% if station.qthlocator %}
                    <span data-toggle="tooltip"
                      data-placement="bottom"
                      title="{{ station.lat|floatformat:-3 }}°, {{ station.lng|floatformat:-3 }}°">
                      {{ station.qthlocator }}
                    </span>
                    {% else %}
                    {{ station.lat|floatformat:-1 }}°, {{ station.lng|floatformat:-1 }}°
                    {% endif %}
                    @{{ station.alt }}m
                    {% else %}
                    {% trans "Локация не определена" %}
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'base:observations_list' %}?station={{ station.id }}"
                      class="badge badge-success badge-pill"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      {% if not station.success_rate %}title="No data"
                      {% else %}title="{{ station.success_rate.good }}% {% trans 'Успешности'%}"
                      {% endif %}>
                      {{ station.total_obs }}
                    </a>
                  </td>
                  <td>
                    <a href="
                      {% url 'base:observations_list' %}?future=1&good=0&bad=0&unknown=0&failed=0&station={{ station.id }}"
                      class="badge badge-info badge-pill">{{ station.future_obs }}</a>
                  </td>
                  <td class="antennas">
                    {% for antenna in station.antennas.all %}
                    <span class="antenna-pill"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="{% for range in antenna.frequency_ranges.all %} {{ range.min_frequency|frq }} - {{ range.max_frequency|frq }}&#xA{% endfor %}">
                      {{ antenna.antenna_type.get_translated_name }} ({{ antenna.bands }})
                    </span>
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            {% if user == request.user %}
            <div class="description">
              {% trans "Вы можете добавить новую станцию, нажав кнопку 'Создать станцию'. Также предлагаем вам узнать больше " %}
              <a href="{% url 'base:about' %}">{% trans "о проекте" %}</a>,
              {% trans " погрузиться в базу сети и посмотреть, как работают уже подключенные станции." %}
            </div>
            {% else %}
            <div class="description">{% trans "Данный пользователь ещё не подключил свои станции." %}</div>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/satellite_modal.js' %}"></script>
<script src="{% static 'js/account.js' %}"></script>
{% endblock javascript %}