@import '../variables.scss';

.container-db {
    margin-top: 30px;

    .wrap {
        gap: 20px 0;

        .card {
            height: 300px;
            background-color: transparent;
            margin-top: 40px;

            a {
                display: block;
                height: 100%;
            }

            img {
                transition: all .5s;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .title {
                display: flex;
                position: absolute;
                justify-content: center;
                width: 100%;
                align-items: center;
                height: 100px;
                top: 50%;
                transform: translate(0, -50%);
                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 83, 140, 0.75) 30%, $blue-600 50%, rgba(0, 83, 140, 0.75) 70%, rgba(0, 0, 0, 0) 100%);

                p {
                    transition: all .5s;
                    margin: 0;
                    font-weight: 500;
                    font-size: 22pt;
                    color: $white;
                }
            }

            &:hover {

                img {
                    filter: blur(2px);
                }

                p {
                    transform: scale(1.2);
                    color: $white;
                }
            }
        }

        .satellites {
            display: flex;
            flex-direction: column;

            .title {
                margin-bottom: 15px;
                text-align: end;
            }

            .satellites__list {
                height: 300px;
                overflow: overlay;
            }

            table {

                thead {
                    position: sticky;
                    top: 0;
                }
            }

            .table_description {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                div {
                    font-size: 10px;
                    margin-top: 10px;
                    line-height: 16px;

                    &.description_time {
                        text-align: center;
                        min-width: 125px;
                    }
                }
            }
        }

        @media (max-width: 991px) {

            .card {
                margin-top: 0;
                height: 270px;
            }

            .satellites .title {
                text-align: start;
            }
        }

        @media (max-width: 575px) {

            .card {
                height: 150px;
            }
        }
    }
}
