@import '../variables.scss';

.tables-filtering {

    .status-selector {

        &:not(.active) {
            opacity: .7;
            transform: scale(.9);
        }

        input {
            display: none;
        }
    }
}

.block-table {
    margin-top: 75px;

    .wrapper {

        .actions {
            position: absolute;
            right: 0;
            top: -45px;
            margin-top: 0;
            width: 100%;
            justify-content: space-between;
        }

        #satellitesTable_paginate {
            display: flex;
        }

        .dataTables_paginate {
            margin-top: 0;
        }
    }
}
