@import '../variables.scss';

.block-station-edit {
    margin-top: 15px;
    min-height: 30vh;

    .accordion {

        >.card-header {
            padding: 6px;
            background-color: $gray-300;

            &:not(:first-child) {
                margin-top: 6px;
            }

            &:hover {
                cursor: pointer;
            }

            &.is-invalid strong::after {
                content: '*';
                color: $red-400;
            }
        }

        >.card-body {
            border: 1px solid $gray-300;
            border-radius: 0 0 4px 4px;
            padding: 12px 8px;

            textarea {
                resize: vertical;
                max-height: 200px;
                min-height: 50px;
            }

            label {
                position: relative;

                &.is-invalid::after {
                    position: absolute;
                    top: 0;
                    right: -4px;
                    content: '*';
                    color: $red-400;
                }
            }

            @media (max-width: 991px) {

                &.tables-filtering__form .form-group:not(:last-child).col:not(:first-child) {
                    display: block;
                }
            }
        }

        #antennas-card-group {
            gap: 4px;

            .card {
                flex-grow: 1;
                max-width: 35%;
                background-color: transparent;

                .card-header {
                    padding: 4px;
                    border-radius: 3px 3px 0 0;
                    background-color: $dark-600;

                    button {
                        outline: none;
                    }

                    @media (max-width: 767px) {
                        padding: 0 4px;
                    }
                }

                .card-body {
                    padding: 4px;
                    border-radius: 0 0 3px 3px;
                    border: 1px solid $dark-600;
                    text-align: center;

                    .frequency-ranges {
                        color: $gray;
                    }
                }

                @media (max-width: 991px) {
                    max-width: 50%;
                }

                @media (max-width: 767px) {
                    max-width: none;
                }
            }
        }

        #new-antenna {
            margin-top: 15px;
        }

        #settings-card-body {

            .form-group {

                .input-group {
                    position: relative;

                    span {
                        position: absolute;
                        top: 7px;
                        right: 12px;
                        color: $blue-400;

                        &:hover {
                            color: $orange-400;
                            cursor: pointer;
                        }
                    }
                }

                .form-text {
                    text-align: justify;
                    margin-top: 4px;
                }

                &.test-mode {

                    .input-group {
                        padding: 8px 10px;
                        text-align: start;
                        outline: none;
                        border: 1px solid $orange-400;
                        border-radius: 5px;
                    }
                }
            }
        }

        #image-card-body {

            .file-preview {
                border: none;
                padding: 0;

                .file-drop-zone {
                    margin: 0;
                    border-color: #38aeff80;
                    min-height: 265px;

                    .file-preview-frame {
                        box-shadow: 0 0 10px 0 $gray-150;

                        .file-thumbnail-footer {
                            height: 50px;

                            .file-footer-caption {
                                margin-bottom: 0;
                            }

                            .file-footer-buttons button {
                                background-color: transparent;
                                color: $blue-400;

                                &:hover {
                                    color: $orange-400;
                                }
                            }
                        }
                    }

                    &.file-highlighted {
                        background-color: $gray-300;
                    }
                }
            }

            .file-caption {

                .input-group {
                    display: flex;

                    .file-caption-name {
                        width: 100%;
                    }

                    .input-group-append {
                        position: absolute;
                        right: 6px;
                        display: flex;
                        gap: 6px;

                        .btn {
                            background-color: transparent;

                            &.fileinput-remove {
                                color: $red-400;
                            }

                            &.btn-file {
                                color: $blue-400;
                                padding: 1px 4px;
                            }

                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-actions {
        margin-top: 30px;
    }
}

footer {
    margin-top: 130px;
}

#modal {

    .modal-content {

        .modal-body {

            ul {

                li {
                    margin-top: 0;
                    display: block;
                }
            }

            .frequency-ranges {

                #frequency-ranges {
                    margin-top: 6px;

                    .card {
                        position: relative;
                        gap: 4px;
                        padding-right: 30px;
                        margin-bottom: 15px;
                        border-radius: 0;
                        padding-bottom: 10px;
                        border-bottom: 1px solid $gray-200;

                        >.row {
                            gap: 6px;

                            >.col.is-invalid {
                                position: relative;

                                input {
                                    color: $orange-500;
                                    font-size: 12px;
                                }

                                &::after {
                                    content: '!';
                                    position: absolute;
                                    right: 10px;
                                    top: 7px;
                                    color: $red-400;
                                }
                            }

                            .range-text {
                                text-align: center;
                            }
                        }

                        button {
                            position: absolute;
                            right: 0;
                            top: 50%;
                        }
                    }
                }

                #new-ranges {
                    margin-top: 10px;

                    .default-range-label {
                        margin-bottom: 4px;
                    }

                    .btn-outline-gray {
                        padding: 4px;
                    }

                    .new-custom-range {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }

                    @media (max-width: 575px) {
                        flex-wrap: wrap;
                        gap: 10px;

                        .default-ranges {
                            min-width: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 4px;
                        }
                    }
                }
            }
        }

        .modal-footer {

            .close-btns {
                display: flex;
                justify-content: end;
                gap: 4px;
            }
        }
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .block-station-edit .accordion {

        >.card-header {
            background-color: $gray-50;
        }

        >.card-body {
            border-color: $gray-50;
        }

        #antennas-card-group .card {

            .card-header {
                background-color: $white;
            }

            .card-body {
                border-color: $white;

                .frequency-ranges {
                    color: $dark-300;
                }
            }
        }

        #image-card-body .file-caption .input-group .file-caption-name {
            color: unset;
        }
    }

    #modal .modal-content .modal-body .frequency-ranges #frequency-ranges .card {
        border-bottom-color: $gray-100;
    }
}
